html {
    font-family: 'Hind', sans-serif;
    color: white;
    background-color: black;
    background-image: url("../img/LaserBG.png");
    background-size: cover;
    background-attachment: fixed;
}

/*hide the results and details by default*/
#results, #details {
    display: none;
}


section {
    background: #202021;
    margin: auto;
    margin-top: 30px;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    opacity: 0.9;
        
}

/*select the image with id="logo"*/
/*img #logo find an img, then inside it find another element with an id="logo"*/
img#logo { 
    margin: auto;
    width: 70%;
    display: block;  
}

select, button {
    width: 100%;
    background: white;
    color: black;
    font-size: 200%;
}

button {
    background: black;
    color: white;
    border: none;
    margin-top: 10px;
}

    
    

